@import url('https://rsms.me/inter/inter.css');
html { 
    font-family: 'Inter', sans-serif; 
}

ol>li::marker {
    font-weight: bold;
}

.container {
    padding: 0.01em 16px
}

main {
    max-width: 800px;
    margin: auto
}