@import url('https://rsms.me/inter/inter.css');
html { 
    font-family: 'Inter', sans-serif; 
    background-color: lightyellow;
}

ol>li::marker {
    font-weight: bold;
}

.container {
    padding: 0.01em 16px
}

main {
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 40px;
    padding-top: 10px;
    border: 1.5px solid goldenrod;
    border-radius: 1rem;
}